@{
    ViewData["Title"] = "Categories";
  
}

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>Kategoriler</h3>
            </div>
            <div class="card-body">

                <table class="table" id="tbCategoryList">
                    <thead>
                        <tr>
                            <th>Sıra</th>
                            <th>Adı</th>
                            <th>Açıklama</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>


            </div>
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="card">
            <div class="card-header"><h4>Kategori Ekle - Güncelle</h4></div>
            <div class="card-body">
                <div class="mb-3">
                    <label>Kategori Adı</label>
                    <input type="hidden" class="form-control" id="txtId" />
                    <input type="text" class="form-control" id="txtName" />
                    <label>Kategori Açıklaması</label>
                    <input type="text" class="form-control" id="txtDescription" />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary " title="Kaydet" id="btnSave">Kaydet</button>
                    <button class="btn btn-secondary" title="Vazgeç" id="btnCancel">Vazgeç</button>
                    <button class="btn btn-warning " title="Düzenle" id="btnEdit">Düzenle</button>
                    <button class="btn btn-danger " title="Sil" id="btnDelete">Sil</button>


                    <div class="alert mt-3" id="divResult">
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




@section Scripts {
    <script>
        $(document).ready(function(){
            var apiBaseUrl="@ViewBag.ApiBaseURL";
            if(localStorage.getItem("token")=="" || localStorage.getItem("token")==null){
          location.href="/Login";
         return false;
        }
        var  token=localStorage.getItem("token");
            GetCategoryList();
            $("#btnCancel").hide();
            $("#btnEdit").hide();
            $("#btnDelete").hide();
            console.log(apiBaseUrl);

            function GetCategoryList(){
                $.ajax({
                 url: apiBaseUrl + "/Category",
                 type: "GET",
                    headers: {
                    "Authorization": "Bearer " + token
                },
                 success: function (d) {
                        CategoryToTable(d)
                 },
                 error:  function (d) {},

                });
            }

            function CategoryToTable(data){
                        $("#tbCategoryList tbody").empty();
                        var row="";
                        $.each(data,function(i,item){
                           row+="<tr>";
                           row+="<td>"+item.id+"</td>";
                           row+="<td>"+item.name+"</td>";
                           row+="<td>" +item.description +"</td>";
                           row+='<td><a class="btn btn-primary btn-md" href="/Questions/'+item.id+'">Alana git</a><button class="btn btn-warning btn-md btnEdit" data-id="'+item.id+'">Düzenle</button></td>';
                           row+="</tr>";
                        });
                              $("#tbCategoryList tbody").append(row);

            }

            $("#btnSave").click(function(){

               if($("#txtName").val()=="" || $("#txtName").val()==null)  {
                 $("#divResult")
                 .fadeIn()
                  .removeClass()
                  .addClass("alert alert-danger mt-3")
                   .html("Kategori Adı Giriniz!")
                   .fadeOut(3000);
                   return false;
               }
                 if($("#txtDescription").val()=="" || $("#txtDescription").val()==null)  {
                 $("#divResult")
                 .fadeIn()
                  .removeClass()
                  .addClass("alert alert-danger mt-3")
                   .html("Kategori Açıklaması Giriniz!")
                   .fadeOut(3000);
                   return false;
               }
               var name=$("#txtName").val();
               var description=$("#txtDescription").val();
               var category=new Object();
               category.name=name;
               category.description=description;


                $.ajax({
               url: apiBaseUrl + "/Category",
               type: "POST",
                  headers: {
                    "Authorization": "Bearer " + token
                },
               data: JSON.stringify(category),
               contentType: "application/json",
               success: function (d) {
        if (d.status){
            $("#divResult")
            .fadeIn()
            .removeClass()
            .addClass("alert alert-success mt-3")
            .html(d.message)
            .fadeOut(3000);
           GetCategoryList();
           $("#txtName").val("");
                 $("#txtDescription").val("");
                 $("#txtId").val("");
        }else{
                   $("#divResult")
                    .fadeIn()
                    .removeClass()
                    .addClass("alert alert-danger mt-3")
                    .html(d.message)
                    .fadeOut(3000);
        }

               },
               error:  function (d) {},

                        });

                });
        $(document).on("click",".btnEdit",function(){
            var id=$(this).attr("data-id");


                     $.ajax({
                       url: apiBaseUrl + "/Category/"+id,
                       type: "GET",
                          headers: {
                    "Authorization": "Bearer " + token
                },
                       contentType: "application/json",
                       success: function (d) {
                            $("#btnSave").hide();
                            $("#btnCancel").show();
                            $("#btnEdit").show();
                            $("#btnDelete").show();
                            $("#txtId").val(id);
                            $("#txtName").val(d.name);
                            $("#txtDescription").val(d.description);

                       },
                       error:  function (d) {},

                                });
        });

        $("#btnCancel").click(function(){
                 $("#btnCancel").hide();
                 $("#btnEdit").hide();
                 $("#btnDelete").hide();
                 $("#btnSave").show();
                 $("#txtName").val("");
                 $("#txtDescription").val("");
                 $("#txtId").val("");


        });

                $("#btnEdit").click(function(){
                           if($("#txtName").val()=="" || $("#txtName").val()==null){
                                 $("#divResult")
                                 .fadeIn()
                                  .removeClass()
                                  .addClass("alert alert-danger mt-3")
                                   .html("Kategori Adı Giriniz!")
                                   .fadeOut(3000);
                                   return false;
                               }
                                if($("#txtDescription").val()=="" || $("#txtDescription").val()==null){
                                 $("#divResult")
                                 .fadeIn()
                                  .removeClass()
                                  .addClass("alert alert-danger mt-3")
                                   .html("Kategori Açıklaması Giriniz!")
                                   .fadeOut(3000);
                                   return false;
                               }
                       var id=$("#txtId").val();
                       var name=$("#txtName").val();
                       var description=$("#txtDescription").val();
                       var category=new Object();
                       category.id=id;
                       category.name=name;
                       category.description = description;
                        $.ajax({
                       url: apiBaseUrl + "/Category/",
                       type: "PUT",
                          headers: {
                    "Authorization": "Bearer " + token
                },
                       data: JSON.stringify(category),
                       contentType: "application/json",
                       success: function (d) {
                        if (d.status){
                    $("#divResult")
                    .fadeIn()
                    .removeClass()
                    .addClass("alert alert-success mt-3")
                    .html(d.message)
                    .fadeOut(3000);
                   GetCategoryList();
                   $("#btnCancel").click();
                }else{

                           $("#divResult")
                            .fadeIn()
                            .removeClass()
                            .addClass("alert alert-danger mt-3")
                            .html(d.message)
                            .fadeOut(3000);
                }

                       },
                       error:  function (d) {},

                                });

                        });



                $("#btnDelete").click(function(){
                             var id=$("#txtId").val();
                          $.ajax({
                               url: apiBaseUrl + "/Category/"+id,
                               type: "DELETE",
                                  headers: {
                    "Authorization": "Bearer " + token
                },
                               contentType: "application/json",
                               success: function (d) {
                                if (d.status){
                            $("#divResult")
                            .fadeIn()
                            .removeClass()
                            .addClass("alert alert-success mt-3")
                            .html(d.message)
                            .fadeOut(3000);
                           GetCategoryList();
                           $("#btnCancel").click();
                        }else{
                                   $("#divResult")
                                    .fadeIn()
                                    .removeClass()
                                    .addClass("alert alert-danger mt-3")
                                    .html(d.message)
                                    .fadeOut(3000);
                        }

                               },
                               error:  function (d) {},

                                        });

                     });


          });


    </script>
}